.about{
    padding: 180px 80px 0px 80px ;

}
.about-container{
    display: flex;
}

.about-image {
    background: radial-gradient(circle at 50% 50%, #001361 20%, #2f76ad00 70%);
    display: inline-block;
    height: 100%;
}

.about-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text h4{
    color: rgba(0, 174, 255, 1);
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

.about-text h2{
    color: white;
    font-size: 60px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 60px;
}

.about-text p{
    color: rgba(118, 119, 153, 1);
    font-size: 18px;
    margin-bottom: 60px;

}




