@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap");

* {
    font-family: "Plus Jakarta Sans", sans-serif; /* Apply it globally */
}

.values{
    padding: 180px 80px 0px 80px ;

}

.values-container{
    display: flex;
}

.values-text{
    min-width: 585px;
}

.values-text h4{
    color: rgba(0, 174, 255, 1);
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

.values-text h2{
    color: white;
    font-size: 60px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
}

.para h5{
    color: white;
    font-size: 16px;
    margin-bottom: 0;
}

.para p{
    color: rgba(118, 119, 153, 1);
    font-size: 18px;
    margin-top: 9px;
    margin-bottom: 60px;
    max-width: 500px;
}

.values-img{
    background: radial-gradient(circle at 50% 50%, #001d8f 30%, #2f76ad00 65%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.values-img img{
}

#start3{
    width: 180px ;
    height: 60px;
    background-color: transparent;
    border: 1px solid white ;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

/* Responsive Styles */

/* For devices with a max width of 1200px */
@media (max-width: 1280px) {
    .values {
        padding: 150px 40px 0px 40px;
    }
    
    .values-text {
        min-width: 500px;
    }
    .values-text h4{
        font-size: 18px; 
    }

    
    .values-text h2 {
        font-size: 37px;
    }
    
    .para p {
        max-width: 500px;
        font-size: 15px;
        margin-bottom: 5px;
    }
    .para h5 {
        font-size: 14px;

    }


    .values-img img{
        width: 430px;
    }
    #start3{
        width: 160px ;
        height: 50px;
        font-size: 16px;
    }
}

/* For devices with a max width of 992px */
@media (max-width: 992px) {
    .values {
        padding: 120px 30px 0px 30px;
    }
    
    .values-container {
        flex-direction: column;
        align-items: center;
    }

    .values-text {
        text-align: center;
        min-width: unset;
        margin-bottom: 40px;
    }

    .values-text h2 {
        font-size: 45px;
    }

    .para h5,
    .para p {
        text-align: center;
    }
    
    .para p {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .values-img{
        background: radial-gradient(circle at 50% 50%, #001d8f 30%, #2f76ad00 65%);
    }
}

/* For devices with a max width of 768px */
@media (max-width: 768px) {
    .values {
        padding: 100px 20px 0px 20px;
    }

    .values-text h2 {
        font-size: 40px;
    }

    .para p {
        font-size: 15px;
    }
}

/* For devices with a max width of 576px */
@media (max-width: 576px) {
    .values {
        padding: 80px 10px 0px 10px;
    }

    .values-text h2 {
        font-size: 35px;
    }

    .para p {
        font-size: 14px;
    }

    .values-img {
        padding: 20px;
    }
    
    .values-img img {
        width: 100%;
    }
}
